Summary: OLPC XO power management
Name: olpc-powerd
Version: __VERSION__
Release: __RELEASE__%{?dist}
License: GPLv2+
Group: System Environment/Base
URL: http://dev.laptop.org/git/users/pgf/powerd/tree/powerd
# Source0: the source tarball is created by "make tarball" from within
# a clone of this git tree: git://dev.laptop.org/users/pgf/powerd
Source0: __TARBALL__
BuildRoot: %(mktemp -ud %{_tmppath}/%{name}-%{version}-%{release}-XXXXXX)
BuildRequires: kernel-headers
Requires: olpc-kbdshim, upstart, ethtool

# these are all for the manipulation of ohmd -- powerd doesn't need them.
Requires(post): chkconfig
Requires(preun): chkconfig
Requires(post): initscripts
Requires(preun): initscripts

ExclusiveArch: %{ix86} %{arm}

%description
The powerd daemon can function as an easily customizable replacement for ohmd,
which is independent of X, dbus, and hald.  This package provides the powerd
and olpc-switchd daemons, and related utilities.

%package dbus
Summary: D-Bus interface to powerd
Group: System Environment/Base
Requires: olpc-powerd, dbus
BuildRequires: dbus-glib-devel

%description dbus
Provides a dbus-activated daemon to provide access to powerd functionality
over the D-Bus system bus.

%prep
%setup -q

%build
export OPT_FLAGS="$RPM_OPT_FLAGS"
make

%install
rm -rf $RPM_BUILD_ROOT
mkdir -p $RPM_BUILD_ROOT/%{_sbindir}
mkdir -p $RPM_BUILD_ROOT/%{_bindir}
mkdir -p $RPM_BUILD_ROOT/%{_libexecdir}
mkdir -p $RPM_BUILD_ROOT/%{_datadir}/dbus-1/system-services
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/dbus-1/system.d
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/init
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/powerd
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/powerd/postresume.d
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/powerd/flags

%{__install} -p -m 755 olpc-switchd $RPM_BUILD_ROOT/%{_sbindir}/olpc-switchd
%{__install} -p -m 755 powerd $RPM_BUILD_ROOT/%{_sbindir}/powerd
%{__install} -p -m 755 pnmto565fb $RPM_BUILD_ROOT/%{_bindir}/pnmto565fb
%{__install} -p -m 755 powerd-config $RPM_BUILD_ROOT/%{_bindir}/powerd-config
%{__install} -p -m 755 olpc-nosleep $RPM_BUILD_ROOT/%{_bindir}/olpc-nosleep
%{__install} -p -m 644 olpc-switchd.upstart $RPM_BUILD_ROOT%{_sysconfdir}/init/olpc-switchd.conf
%{__install} -p -m 644 powerd.upstart $RPM_BUILD_ROOT%{_sysconfdir}/init/powerd.conf
%{__install} -p -m 644 pleaseconfirm.pgm $RPM_BUILD_ROOT%{_sysconfdir}/powerd/pleaseconfirm.pgm
%{__install} -p -m 644 shuttingdown.pgm $RPM_BUILD_ROOT%{_sysconfdir}/powerd/shuttingdown.pgm
%{__install} -p -m 643 powerd.conf.dist $RPM_BUILD_ROOT%{_sysconfdir}/powerd/powerd.conf
%{__install} -p -m 644 version $RPM_BUILD_ROOT%{_sysconfdir}/powerd/version
%{__install} -p -m 644 olpc-pwr-log.sh $RPM_BUILD_ROOT%{_sysconfdir}/powerd/olpc-pwr-log.sh 
%{__install} -p -m 644 usb-inhibits $RPM_BUILD_ROOT%{_sysconfdir}/powerd/flags/usb-inhibits

%{__install} -p -m 755 powerd-dbus/powerd-dbus $RPM_BUILD_ROOT%{_libexecdir}/powerd-dbus
%{__install} -p -m 644 powerd-dbus/powerd.conf $RPM_BUILD_ROOT%{_sysconfdir}/dbus-1/system.d/powerd.conf
%{__install} -p -m 644 powerd-dbus/org.freedesktop.ohm.service $RPM_BUILD_ROOT%{_datadir}/dbus-1/system-services/org.freedesktop.ohm.service


%clean
rm -rf $RPM_BUILD_ROOT

%files
%defattr(-,root,root,-)
%doc COPYING

%{_sbindir}/olpc-switchd
%{_sbindir}/powerd
%{_bindir}/pnmto565fb
%{_bindir}/powerd-config
%{_bindir}/olpc-nosleep
%{_sysconfdir}/powerd/olpc-pwr-log.sh
%config(noreplace) %{_sysconfdir}/init/olpc-switchd.conf
%config(noreplace) %{_sysconfdir}/init/powerd.conf
%config(noreplace) %{_sysconfdir}/powerd/pleaseconfirm.pgm
%config(noreplace) %{_sysconfdir}/powerd/shuttingdown.pgm
%config(noreplace) %{_sysconfdir}/powerd/powerd.conf
%config(noreplace) %{_sysconfdir}/powerd/flags/usb-inhibits
%{_sysconfdir}/powerd/version

%files dbus
%defattr(-,root,root,-)
%{_libexecdir}/powerd-dbus
%config(noreplace) %{_sysconfdir}/dbus-1/system.d/powerd.conf
%{_datadir}/dbus-1/system-services/org.freedesktop.ohm.service

%post
# Only on install
if [ $1 = 1 ] ; then
    if test -e /etc/init.d/ohmd ; then
        service ohmd stop >/dev/null 2>&1
        chkconfig ohmd off 
    fi
    initctl -q start powerd
    initctl -q start olpc-switchd
fi
exit 0

%preun
# Only on uninstall
if [ $1 = 0 ] ; then
    initctl stop -q olpc-switchd
    initctl stop -q powerd
    if test -e /etc/init.d/ohmd
    then
        /sbin/service ohmd start >/dev/null 2>&1
        /sbin/chkconfig ohmd on
    fi
fi
exit 0

%postun
# Restart after upgrade
if [ "$1" -ge "1" ] ; then
    initctl stop -q olpc-switchd
    initctl stop -q powerd
    initctl start -q powerd
    initctl start -q olpc-switchd
fi
exit 0

%changelog
* Tue Aug 23 2011 Paul Fox <pgf@laptop.org>
- 35-1
- fix path for olpc-hwinfo, otherwise powerd won't start

* Wed Aug 10 2011 Paul Fox <pgf@laptop.org>
- 34-1
- fledgling support for 1.75.  no sleep support.

* Wed Feb 16 2011 Paul Fox <pgf@laptop.org>
- 33-1
- don't let vty traffic keep us awake
- add kernel and build version numbers to the trace file

* Thu Dec  2 2010 Paul Fox <pgf@laptop.org>
- 32-1
- improvements and fixes to the power logging subsystem

* Thu Nov 18 2010 Paul Fox <pgf@laptop.org>
- 31-1
- add workaround for EC suspend LED problem (#10440)
- configure for wake-on-multicast if telepathy is active (#9535)

* Mon Nov 15 2010 Paul Fox <pgf@laptop.org>
- 30-1
- implement support for suppressing lid-open wakeups, and detecting
  lid-close wakeups, on XO-1.

* Fri Oct 15 2010 Paul Fox <pgf@laptop.org>
- 29-1
- opening lid no longer wakes the laptop, to suppress unwanted
  wakeups when laptops are stacked.  (configurable)
- improvements for very short idle timeouts

* Mon Sep 20 2010 Paul Fox <pgf@laptop.org>
- 28-1
- revise low battery checks, to make low-battery shutdown more
  reliable
- make event tracing and full execution tracing separately enableable

* Wed Sep  1 2010 Paul Fox <pgf@laptop.org>
- 27-1
- fix suspend-inhibit for the camera on XO-1.5 (broken in 26-1)
- fix no-keypress-wakeup blank-screen suspends
- make checks for external power more robust
- be more insistent about sync-before-suspend
- reduce default brightness to 12 (was 15, full bright)
- try not to assume wlan is eth0

* Fri Jul 30 2010 Paul Fox <pgf@laptop.org>
- 26-1
- inhibit suspend while XO-1 camera in use.

* Wed Jul 14 2010 Paul Fox <pgf@laptop.org>
- 25-1
- fix wake-on-wlan setup for XO-1

* Fri Jul  2 2010 Daniel Drake <dsd@laptop.org>
- 24-1
- add dbus interface

* Wed Jun  9 2010 Paul Fox <pgf@laptop.org>
- 23-1
- add ability to inhibit suspend based on USB device id or class
- inhibit suspend if any USB HID devices are plugged in.
- fix multiply-spawned sync issue

* Tue May 18 2010 Paul Fox <pgf@laptop.org>
- 22-1
- delay initial idle-suspend until at least 60 seconds after a resume
  from lid- or powerbutton-sleep, to let wifi reassociate.
- don't keep respawning olpc-switchd during shutdown.

* Mon May  3 2010 Paul Fox <pgf@laptop.org>
- 21-1
- close hole where creation of inhibit file won't always inhibit suspend.
- close hole where net traffic won't inhibit suspend after a lot of traffic

* Fri Apr 30 2010 Paul Fox <pgf@laptop.org>
- 20-1
- add preemptive sync on power button, or when idle suspend is imminent.
- fix bug causing power button splash menu to not appear sometimes.
- bring documentation up to date.

* Thu Apr 15 2010 Paul Fox <pgf@laptop.org>
- 19-1
- improve olpc-pwr-log.sh logging
- modify handling of battery dis/charge wakeups which were preventing
  eventual shutdown.

* Tue Apr  6 2010 Paul Fox <pgf@laptop.org>
- 18-1
- ensure dcon is awake and unfrozen if powerd exits.
- enable network activity checks:  pings, inbound traffic for
  established tcp connections, as well as any non-mdns outbound
  traffic, within 5 seconds of the target time, will all keep the
  inhibit suspend.
- bug fixes for recently introduced problems.

* Mon Apr  5 2010 Paul Fox <pgf@laptop.org>
- 17-1
- reorder the background "xxx_is_busy" checks for better useability.

* Tue Mar 30 2010 Paul Fox <pgf@laptop.org>
- 16-1
- inhibit suspend when camera is active
- lower the cpu busy-ness threshold required to inhibit suspend --
  audio apps now inhibit.
- make trace file easier to summarize.  (grep for ": @")
- suppress wake-on-wlan when screen is blanked, by default.

* Wed Mar 24 2010 Paul Fox <pgf@laptop.org>
- 15-1
- ensure battery and AC events are always reported correctly

* Wed Mar 24 2010 Paul Fox <pgf@laptop.org>
- 14-1
- allow keypress to wake from a blanked idle-suspend state
- properly keep wireless working during idle suspends
- check for closed lid on startup, so we sleep right away
- workaround issues with AC jack reporting
- capture stdout to the trace file, to prevent console spew
- force a date stamp into the trace file on startup
- lengthen dim/blank/shutdown timeouts

* Fri Mar 12 2010 Paul Fox <pgf@laptop.org>
- 13-1
- early enhancements/fixes to olpc-pwr-log functionality

* Tue Mar  9 2010 Paul Fox <pgf@laptop.org>
- 12-1
- integrate the functionality of olpc-pwr-log
- setting most timer values to 0 now does something interesting
- catch events that might be lost during brief action wakeups

* Fri Feb 19 2010 Paul Fox <pgf@laptop.org>
- 11-1
- adjust default dim/suspend times (suspend long before dim)
- new olpc-nosleep wrapper command for inhibiting suspend
- support for XO-1.5
- new persistent inhibit file
- unfreeze delay is configurable

* Mon Jan 25 2010 Paul Fox <pgf@laptop.org>
- 10-1
- speedups in splash image drawing
- remove some bash-isms so powerd will run with dash on debian
- improvements to make input switch device detection more robust.
- powerd.wip is work-in-progress for supporting XO-1.5.

* Thu Jul 30 2009 Paul Fox <pgf@laptop.org>
- 9-1
- disable tracing, by default.  use "powerd-control =tracing-on"
  to enable at runtime.
- create the inhibit file so that root owns it and can make it writeable.
- don't brighten the screen on wlan wakeups.

* Fri Jul 17 2009 Paul Fox <pgf@laptop.org>
- 8-1
- incorporate package review fixups
- commentary and powerd-config UI clarification
- fix fatal bug when battery is missing

* Fri Jul 6 2009 Paul Fox <pgf@laptop.org>
- 7-1
- no longer wake on AC events -- unnecessary
- doc fixups

* Thu Jun 11 2009 Paul Fox <pgf@laptop.org>
- 6-2
- utility targets in makefile

* Sat Jun 6 2009 Paul Fox <pgf@laptop.org>
- 6-1
- various fixes
- incorporate lessons from kbdshim review

* Tue May 5 2009 Paul Fox <pgf@laptop.org>
- 5-1
- fixed ability to shut down with backlight off.  oops.
- various utility bug fixes (powerd-config, olpc-brightness)

* Sun Apr 12 2009 Paul Fox <pgf@laptop.org>
- 4-1
- add control over sleep on lid-close
- resync version numbers

* Sat Apr 11 2009 Paul Fox <pgf@laptop.org>
- 3-3
- fixed powerd-config behavior wrt symlinked configs

* Fri Apr 10 2009 Paul Fox <pgf@laptop.org>
- 3-2
- fix bugs, implement cpu idleness check, and add suspend inhibit mechanism

* Tue Apr 7 2009 Paul Fox <pgf@laptop.org>
- 3-1
- convert to HAL-based operation

* Thu Mar 19 2009 Paul Fox <pgf@laptop.org
- 2-3
- removed extra dcon calls.

* Thu Mar 19 2009 Paul Fox <pgf@laptop.org
- 2-2
- bug fixing

* Tue Mar 17 2009 Paul Fox <pgf@laptop.org
- 2-1 
- added powerd-config, and added blank-or-shutdown after sleep
  capability

* Fri Mar 13 2009 Paul Fox <pgf@laptop.org>
- 1-2
- fix rpmlint errors, move daemons to /usr/sbin

