Summary: OLPC XO power management
Name: olpc-powerd
Version: __VERSION__
Release: __RELEASE__%{?dist}
License: GPLv2+
Group: System Environment/Base
URL: http://dev.laptop.org/git/users/pgf/powerd/tree/powerd
# Source0: the source tarball is created by "make tarball" from within
# a clone of this git tree: git://dev.laptop.org/users/pgf/powerd
Source0: __TARBALL__
BuildRoot: %(mktemp -ud %{_tmppath}/%{name}-%{version}-%{release}-XXXXXX)
BuildRequires: kernel-headers
Requires: olpc-kbdshim, upstart

# these are all for the manipulation of ohmd -- powerd doesn't need them.
Requires(post): chkconfig
Requires(preun): chkconfig
Requires(post): initscripts
Requires(preun): initscripts

ExclusiveArch: %{ix86}

%description
The powerd daemon can function as an easily customizable replacement for ohmd,
which is independent of X, dbus, and hald.  This package provides the powerd
and olpc-switchd daemons, and related utilities.

%prep
%setup -q

%build
export OPT_FLAGS="$RPM_OPT_FLAGS"
make

%install
rm -rf $RPM_BUILD_ROOT
mkdir -p $RPM_BUILD_ROOT/%{_sbindir}
mkdir -p $RPM_BUILD_ROOT/%{_bindir}
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/event.d
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/powerd
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/powerd/postresume.d
mkdir -p $RPM_BUILD_ROOT%{_sysconfdir}/powerd/flags

%{__install} -p -m 755 olpc-switchd $RPM_BUILD_ROOT/%{_sbindir}/olpc-switchd
%{__install} -p -m 755 powerd $RPM_BUILD_ROOT/%{_sbindir}/powerd
%{__install} -p -m 755 pnmto565fb $RPM_BUILD_ROOT/%{_bindir}/pnmto565fb
%{__install} -p -m 755 powerd-config $RPM_BUILD_ROOT/%{_bindir}/powerd-config
%{__install} -p -m 755 olpc-nosleep $RPM_BUILD_ROOT/%{_bindir}/olpc-nosleep
%{__install} -p -m 644 olpc-switchd.upstart $RPM_BUILD_ROOT%{_sysconfdir}/event.d/olpc-switchd
%{__install} -p -m 644 powerd.upstart $RPM_BUILD_ROOT%{_sysconfdir}/event.d/powerd
%{__install} -p -m 644 pleaseconfirm.pgm $RPM_BUILD_ROOT%{_sysconfdir}/powerd/pleaseconfirm.pgm
%{__install} -p -m 644 shuttingdown.pgm $RPM_BUILD_ROOT%{_sysconfdir}/powerd/shuttingdown.pgm
%{__install} -p -m 644 powerd.conf.dist $RPM_BUILD_ROOT%{_sysconfdir}/powerd/powerd.conf
%{__install} -p -m 644 version $RPM_BUILD_ROOT%{_sysconfdir}/powerd/version
%{__install} -p -m 644 olpc-pwr-log.sh $RPM_BUILD_ROOT%{_sysconfdir}/powerd/olpc-pwr-log.sh 


%clean
rm -rf $RPM_BUILD_ROOT

%files
%defattr(-,root,root,-)
%doc COPYING

%{_sbindir}/olpc-switchd
%{_sbindir}/powerd
%{_bindir}/pnmto565fb
%{_bindir}/powerd-config
%{_bindir}/olpc-nosleep
%{_sysconfdir}/powerd/olpc-pwr-log.sh
%config(noreplace) %{_sysconfdir}/event.d/olpc-switchd
%config(noreplace) %{_sysconfdir}/event.d/powerd
%config(noreplace) %{_sysconfdir}/powerd/pleaseconfirm.pgm
%config(noreplace) %{_sysconfdir}/powerd/shuttingdown.pgm
%config(noreplace) %{_sysconfdir}/powerd/powerd.conf
%{_sysconfdir}/powerd/version

%post
# Only on install
if [ $1 = 1 ] ; then
    if test -e /etc/init.d/ohmd ; then
        service ohmd stop >/dev/null 2>&1
        chkconfig ohmd off 
    fi
    initctl -q start powerd
    initctl -q start olpc-switchd
fi
exit 0

%preun
# Only on uninstall
if [ $1 = 0 ] ; then
    initctl stop -q olpc-switchd
    initctl stop -q powerd
    if test -e /etc/init.d/ohmd
    then
        /sbin/service ohmd start >/dev/null 2>&1
        /sbin/chkconfig ohmd on
    fi
fi
exit 0

%postun
# Restart after upgrade
if [ "$1" -ge "1" ] ; then
    initctl stop -q olpc-switchd
    initctl stop -q powerd
    initctl start -q powerd
    initctl start -q olpc-switchd
fi
exit 0

%changelog
* Tue Apr  6 2010 Paul Fox <pgf@laptop.org>
- 18-1
- ensure dcon is awake and unfrozen if powerd exits.
- enable network activity checks:  pings, inbound traffic for
  established tcp connections, as well as any non-mdns outbound
  traffic, within 5 seconds of the target time, will all keep the
  inhibit suspend.
- bug fixes for recently introduced problems.

* Mon Apr  5 2010 Paul Fox <pgf@laptop.org>
- 17-1
- reorder the background "xxx_is_busy" checks for better useability.

* Tue Mar 30 2010 Paul Fox <pgf@laptop.org>
- 16-1
- inhibit suspend when camera is active
- lower the cpu busy-ness threshold required to inhibit suspend --
  audio apps now inhibit.
- make trace file easier to summarize.  (grep for ": @")
- suppress wake-on-wlan when screen is blanked, by default.

* Wed Mar 24 2010 Paul Fox <pgf@laptop.org>
- 15-1
- ensure battery and AC events are always reported correctly

* Wed Mar 24 2010 Paul Fox <pgf@laptop.org>
- 14-1
- allow keypress to wake from a blanked idle-suspend state
- properly keep wireless working during idle suspends
- check for closed lid on startup, so we sleep right away
- workaround issues with AC jack reporting
- capture stdout to the trace file, to prevent console spew
- force a date stamp into the trace file on startup
- lengthen dim/blank/shutdown timeouts

* Fri Mar 12 2010 Paul Fox <pgf@laptop.org>
- 13-1
- early enhancements/fixes to olpc-pwr-log functionality

* Tue Mar  9 2010 Paul Fox <pgf@laptop.org>
- 12-1
- integrate the functionality of olpc-pwr-log
- setting most timer values to 0 now does something interesting
- catch events that might be lost during brief action wakeups

* Fri Feb 19 2010 Paul Fox <pgf@laptop.org>
- 11-1
- adjust default dim/suspend times (suspend long before dim)
- new olpc-nosleep wrapper command for inhibiting suspend
- support for XO-1.5
- new persistent inhibit file
- unfreeze delay is configurable

* Mon Jan 25 2010 Paul Fox <pgf@laptop.org>
- 10-1
- speedups in splash image drawing
- remove some bash-isms so powerd will run with dash on debian
- improvements to make input switch device detection more robust.
- powerd.wip is work-in-progress for supporting XO-1.5.

* Thu Jul 30 2009 Paul Fox <pgf@laptop.org>
- 9-1
- disable tracing, by default.  use "powerd-control =tracing-on" to enable at runtime.
- create the inhibit file so that root owns it and can make it writeable.
- don't brighten the screen on wlan wakeups.

* Fri Jul 17 2009 Paul Fox <pgf@laptop.org>
- 8-1
- incorporate package review fixups
- commentary and powerd-config UI clarification
- fix fatal bug when battery is missing

* Fri Jul 6 2009 Paul Fox <pgf@laptop.org>
- 7-1
- no longer wake on AC events -- unnecessary
- doc fixups

* Thu Jun 11 2009 Paul Fox <pgf@laptop.org>
- 6-2
- utility targets in makefile

* Sat Jun 6 2009 Paul Fox <pgf@laptop.org>
- 6-1
- various fixes
- incorporate lessons from kbdshim review

* Tue May 5 2009 Paul Fox <pgf@laptop.org>
- 5-1
- fixed ability to shut down with backlight off.  oops.
- various utility bug fixes (powerd-config, olpc-brightness)

* Sun Apr 12 2009 Paul Fox <pgf@laptop.org>
- 4-1
- add control over sleep on lid-close
- resync version numbers

* Sat Apr 11 2009 Paul Fox <pgf@laptop.org>
- 3-3
- fixed powerd-config behavior wrt symlinked configs

* Fri Apr 10 2009 Paul Fox <pgf@laptop.org>
- 3-2
- fix bugs, implement cpu idleness check, and add suspend inhibit mechanism

* Tue Apr 7 2009 Paul Fox <pgf@laptop.org>
- 3-1
- convert to HAL-based operation

* Thu Mar 19 2009 Paul Fox <pgf@laptop.org
- 2-3
- removed extra dcon calls.

* Thu Mar 19 2009 Paul Fox <pgf@laptop.org
- 2-2
- bug fixing

* Tue Mar 17 2009 Paul Fox <pgf@laptop.org
- 2-1 
- added powerd-config, and added blank-or-shutdown after sleep
  capability

* Fri Mar 13 2009 Paul Fox <pgf@laptop.org>
- 1-2
- fix rpmlint errors, move daemons to /usr/sbin

